<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/your-database</property>
        <property name="connection.username">root</property>
        <property name="connection.password">your-password</property>

        <!-- JDBC connection pool (use a production-ready pool for real applications) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>


<!--        <mapping class="org.rohan.mapping.onetoone.Question"/>-->
<!--        <mapping class="org.rohan.mapping.onetoone.Answer"/>-->

<!--        <mapping class="org.rohan.mapping.onetomany.Company"/>-->
<!--        <mapping class="org.rohan.mapping.onetomany.Employee"/>-->

<!--        <mapping class="org.rohan.mapping.manytomany.student"/>-->
<!--        <mapping class="org.rohan.mapping.manytomany.project"/>-->

        <!-- <mapping class="org.rohan.mapping.crud.Doctor"/> -->





            </session-factory>

        </hibernate-configuration>

